body {
    margin: 0;
    background-color: 1B244A;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B244A;   
    
}
.scores {
    width: 130px;
    font-size: 90px;
    font-family: 'cursed-timer', sans-serif;
    color: #F94F6D;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    border-radius: 5px;
    border: 5px solid white;
    text-shadow: 5px 5px 2px #601700;
}

#add-score{
    margin: 26px 0px 5px;
    width: 45px;
    height: 45px;
    font-family: 'cursed-timer', sans-serif;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    size: 18px;
    background-color: #1B244A;
                                                
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-weight: bold;
    size: 50px;
    margin-bottom: 27px;
    text-align: center;
}
@font-face {
    font-family: cursed-timer;
    src: url(CursedTimerUlil-Aznm.ttf);
}
#quarter-btn {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border: 1px solid #9AABD8;
    padding: 5px 5px 5px;
    
}

.box-order {
    margin-top: 20px;
    text-align: center;
}
.btn-foul {
    background-color: #E5FFDE;
    width:150px;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
}
.inside-container{
    text-align: center;
}
#ten-countdown {
    border: 5px solid #EEEEEE;
    padding: 5px;
    color: #EEEEEE;
    font-family: Verdana, sans-serif, Arial;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
}
#btn-start {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    background-color: #F94F6D;
}

.home {
    color: #1B244A;
}
.away {
    color: #601700;
}